.filters {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.filters input,
.filters select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1e1e1e;
  color: #fff;
}


.auction-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

.auction-card {
  background: #1f1f1f;
  border: 1px solid #2e2e2e;
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.auction-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.artefact-img {
  width: fit-content;
  height: 180px;
  object-fit: contain;
  border-radius: 20px;
  margin : auto;
  margin-bottom: 10px;
}

.auction-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.rarity {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.rarity.commun {
  background-color: #4ade80;
  color: #000;
}

.rarity.rare {
  background-color: #3b82f6;
  color: white;
}

.rarity.épique {
  background-color: #9333ea;
  color: white;
}

.rarity.légendaire {
  background-color: #f59e0b;
  color: white;
}

.auction-endtime {
  font-size: 0.85rem;
  color: #c0c0c0;
}