.top-bar {
  height: 68px;
  backdrop-filter: blur(17px);
  background-color: #111418;
  border-bottom: 1px solid #2a2a2b;
}
:host ::ng-deep .p-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(17px);
  background-color: #111418;
  border: none;
}

:host ::ng-deep .p-menu-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-menu-list > li:last-child {
  margin-top: auto;
}
